Question 1

Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.

In [1]:
def is_symmetrical(number):
    return number == int(str(number)[::-1])

In [2]:
is_symmetrical(7227)

True

In [3]:
is_symmetrical(12567)

False

In [4]:
is_symmetrical(44444444)

True

In [5]:
is_symmetrical(1112111)

True

Question 2

Given a string of numbers separated by a comma and space, return the product of the numbers.

In [6]:
import math
def multiply_nums(string):
    return math.prod([int(a) for a in string.split(", ")])

In [7]:
multiply_nums("2, 3")

6

In [8]:
multiply_nums("1, 2, 3, 4")

24

In [9]:
multiply_nums("54, 75, 453, 0")

0

In [10]:
multiply_nums("10, -2")

-20

Question 3

Create a function that squares every digit of a number.

In [11]:
def square_digits(integer):
    temp = ""
    st = str(integer)
    for i in range(len(st)):
        temp = temp + str(int(st[i])**2)
    return int(temp)

In [12]:
square_digits(9119)

811181

In [13]:
square_digits(2483)

416649

In [14]:
square_digits(3212)

9414

Question 4

Create a function that sorts a list and removes all duplicate items from it.

In [15]:
def setify(input_list):
    return list(set(input_list))

In [16]:
setify([1, 3, 3, 5, 5])

[1, 3, 5]

In [17]:
setify([4, 4, 4, 4])

[4]

In [18]:
setify([5, 7, 8, 9, 10, 15])

[5, 7, 8, 9, 10, 15]

In [19]:
setify([3, 3, 3, 2, 1])

[1, 2, 3]

Question 5

Create a function that returns the mean of all digits.

Notes

•	The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in 512 is (5+1+2)/3(number of digits) = 8/3=2).

•	The mean will always be an integer.

In [20]:
def mean(number):
    st = str(number)
    total_digits = len(st)
    digit_sum = 0
    for digit in st:
        digit_sum = digit_sum + int(digit)
    
    return digit_sum//total_digits

In [21]:
mean(42)

3

In [22]:
mean(12345)

3

In [23]:
mean(666)

6