Question1

Write a function that takes a list and a number as arguments. Add the number to the end of the list, then remove the first element of the list. The function should then return the updated list.

In [1]:
def next_in_line(input_list, number):
    if len(input_list)>0:
        input_list.append(number)
        input_list.pop(0)
        return input_list
    else:
        return "No list has been selected"

In [2]:
next_in_line([5, 6, 7, 8, 9], 1)

[6, 7, 8, 9, 1]

In [3]:
next_in_line([7, 6, 3, 23, 17], 10)

[6, 3, 23, 17, 10]

In [4]:
next_in_line([1, 10, 20, 42 ], 6)

[10, 20, 42, 6]

In [5]:
next_in_line([], 6)

'No list has been selected'

Question2

Create the function that takes a list of dictionaries and returns the sum of people's budgets.

In [6]:
def get_budgets(input_list):
    total_budget = 0
    for dict_ in input_list:
        total_budget += dict_["budget"]
    return total_budget

In [7]:
get_budgets([
  { "name": "John", "age": 21, "budget": 23000 },
  { "name": "Steve",  "age": 32, "budget": 40000 },
  { "name": "Martin",  "age": 16, "budget": 2700 }
])

65700

In [8]:
get_budgets([
  { "name": "John",  "age": 21, "budget": 29000 },
  { "name": "Steve",  "age": 32, "budget": 32000 },
  { "name": "Martin",  "age": 16, "budget": 1600 }
])

62600

Question3

Create a function that takes a string and returns a string with its letters in alphabetical order.

In [9]:
def alphabet_soup(string):
    return "".join(sorted(string))

In [10]:
alphabet_soup("hello")

'ehllo'

In [11]:
alphabet_soup("edabit")

'abdeit'

In [12]:
alphabet_soup("hacker")

'acehkr'

In [13]:
alphabet_soup("geek")

'eegk'

In [14]:
alphabet_soup("javascript")

'aacijprstv'

Question4

Suppose that you invest $10,000 for 10 years at an interest rate of 6% compounded monthly. What will be the value of your investment at the end of the 10 year period?

Create a function that accepts the principal p, the term in years t, the interest rate r, and the number of compounding periods per year n. The function returns the value at the end of term rounded to the nearest cent.

In [15]:
def compound_interest(p,t,r,n):
    final_amount = round(p*(1+(r/n))**(n*t),2)
    return final_amount

In [16]:
compound_interest(10000, 10, 0.06, 12)

18193.97

In [17]:
compound_interest(100, 1, 0.05, 1)

105.0

In [18]:
compound_interest(3500, 15, 0.1, 4)

15399.26

In [19]:
compound_interest(100000, 20, 0.15, 365)

2007316.26

Question5

Write a function that takes a list of elements and returns only the integers.

In [20]:
def return_only_integer(input_list):
    a = []
    for element in input_list:
        if type(element) == int:
            a.append(element)
        else:
            continue
    return a

In [21]:
return_only_integer([9, 2, "space", "car", "lion", 16])

[9, 2, 16]

In [22]:
return_only_integer(["hello", 81, "basketball", 123, "fox"])

[81, 123]

In [23]:
return_only_integer([10, "121", 56, 20, "car", 3, "lion"])

[10, 56, 20, 3]

In [24]:
return_only_integer(["String",  True,  3.3,  1])

[1]