Q-1. Write an SQL query to print details of the Workers who have joined in Febâ€™2014.

SELECT * FROM Workers WHERE JOINING_DATE = "Feb'2014"

Q-2. Write an SQL query to fetch duplicate records having matching data in some fields of
a table.

#assuming the duplicates are in worker table in the department field
SELECT WORKER_NAME, COUNT(DEPT_ID) FROM Worker GROUP BY DEPT_ID HAVING COUNT(DEPT_ID) > 1

Q-3. How to remove duplicate rows from Employees table.

DELETE FROM Employees WHERE ROW_ID NOT IN (
    SELECT MAX(ROW_ID) FROM Employees GROUP BY EMPLOYEE_NAME,DEPT_ID)