Q-1. Write an SQL query to print the FIRST_NAME from Worker table after removing
white spaces from the right side.

SELECT RTRIM(FIRST_NAME) FROM Worker

Write an SQL query that fetches the unique values of DEPARTMENT from Worker
table and prints its length.

SELECT DEPARTMENT, LEN(DEPARTMENT) FROM Worker

Q-3. Write an SQL query to fetch nth max salaries from a table.

SELECT * FROM tablename WHERE SALARY = (
    SELECT MIN(SALARY) FROM tablename WHERE SALARY IN (
        SELECT DISTINCT TOP N SALARY FROM tablename ORDER BY SALARY DESC
    )
)