Q-13. Write an SQL query to show only odd rows from aÂ table.

SELECT * FROM (SELECT *, Row_Number() OVER(ORDER BY First, Last) AS RowNumber FROM table) as t WHERE t.RowNumber % 2 = 1

Q-14. Write an SQL query to clone a new table from another table.

CREATE TABLE new_table LIKE original_table;
INSERT INTO new_table SELECT * FROM original_table;