Q-15. Write an SQL query to fetch intersecting records of two tables.

--assuming the ID column is common in both tables.
SELECT  *
     FROM table1
     LEFT JOIN table2
     ON table1.ID = table2.id 
INTERSECT
     SELECT *
     FROM table1
     RIGHT JOIN table2
     ON table1.ID = table2.id;

Q-16. Write an SQL query to show records from one table that another table does not
have.

--Assuming a common column in both the tables
SELECT col1 FROM table2 WHERE NOT EXISTS 
    (SELECT * FROM table1 WHERE table1.col1 = table2.col1)