Q-19. Write an SQL query to determine the 5th highest salary without using TOP or limit
method.

In [ ]:
SELECT * FROM (SELECT ROW_NUMBER() OVER (ORDER BY SALARY DESC) AS rownumber,Salary FROM Employee) as t
    WHERE rownumber = 5

Q-20. Write an SQL query to fetch the list of employees with the same salary.

In [ ]:
SELECT EMPLOYEE_NAME FROM employees WHERE SALARY IN 
    (SELECT SALARY FROM employees GROUP BY SALARY HAVING COUNT(*) >1)