1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

* 
'hello'
-87.8
- 
/ 
+	
6

Operators: *, -, /, +
    
values: 'hello', -87.8, 6

2. What is the difference between string and variable?

string: It is a collection of alphabets, words or characters. It is an immutable sequence data type. The data is represented wrapped inside single or double or triple quotes.
    example: "This is a python string"
        
variable: A Python variable is a symbolic name that is a reference or pointer to an object. Once an object is assigned to a variable, you can refer to the object by that name. 
    But the data itself is still contained within the object
    example: name = "This is my name."
            here name is the variable. it is holding the value "This is my name.".

3. Describe three different data types.

Data types are the classification of data items. Data types represents a kind of value which determines what can be done to that data.
There are Strings, Integers, Floats, Booleans, Lists, Tuples, Dictionaries

a). Strings: Anything written between " "  becomes string. The strings are immutable.
    example: "Hello!", "23.34"
        
b). Integers: They are Whole numbers. They are Immutable.
    example: 32456

c). Floats: They are Decimal numbers. They are immutable.
    example: 3.1415

4. What is an expression made up of? What do all expressions do?

An expression is a made up of operators and operands. The expressions are interpreted to produce some other value. They are evaluated as per the precedence of its operators.

5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

Expression:
    1. An expression evaluates to a value
    2. The evaluation of a statement does not changes state
    3. Evaluation of an expression always Produces or returns a result value.
    4. Every expression canâ€™t be a statement.
    example:
        4+5 (evaluated to 9)
    
Statement::
        1. A statement executes something
        2. The execution of a statement changes state
        3. Execution of a statement may or may not produces or displays a result value, it only does whatever the statement says.
        4. Every statement can be an expression.
        example: spam=10, x = 3

6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [2]:
bacon = 22
bacon + 1

23

In [4]:
print(bacon)

22

bacon variable will contain the value 22. Since after incrementing the bacon by 1 it is the value that is being incremented. but the bacon variable is still holding the value 22.

7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3

In [5]:
'spam' + 'spamspam'

'spamspamspam'

In [6]:
'spam' * 3

'spamspamspam'

8. Why is eggs a valid variable name while 100 is invalid?

The variable in python have certain rules. 

Rules for Python variables:

1. A variable name must start with a letter or the underscore character
2. A variable name cannot start with a number
3. A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
4. Variable names are case-sensitive (age, Age and AGE are three different variables)

considering the above rules, 
eggs is a valid variable as it is abiding the rules.
100 is an invalid variable because in rule 2 it states that, a variable cannot be a number.

9. What three functions can be used to get the integer, floating-point number, or string version of a value?

To get integer the function used is int()
To get floating-point number the function used is float()
To get string version of a value, the function used is str()

10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

In [10]:
'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

The expression is causing an error because we cannot concatinate a string and an integer. Here 99 is considered to be an integer.
The expression can be fixed by getting the string version of 99

In [11]:
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'