1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [1]:
test1 = 'This is a test of the emergency text system,'

with open('test.txt', 'w') as f:
    f.write(test1)

2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [2]:
with open("test.txt", "r") as file:
    test2 = file.read()
print(test2)

This is a test of the emergency text system,

3. Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

In [3]:
import csv

header = ['title', 'author', 'year']
rows = [    ['The Weirdstone of Brisingamen', 'Alan Garner', 1960],
    ['Perdido Street Station', 'China Miéville', 2000],
    ['Thud!', 'Terry Pratchett', 2005],
    ['The Spellman Files', 'Lisa Lutz', 2007],
    ['Small Gods', 'Terry Pratchett', 1992]
]

with open('books.csv', 'w', newline='') as f:
    writer = csv.writer(f)
    writer.writerow(header)
    writer.writerows(rows)

4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [4]:
import sqlite3

conn = sqlite3.connect('books.db')
cursor = conn.cursor()

cursor.execute('''
CREATE TABLE books (
    title text,
    author text,
    year integer
)
''')

conn.commit()
conn.close()

5. Read books.csv and insert its data into the book table.

In [5]:
import csv
import sqlite3

conn = sqlite3.connect("books.db")
cursor = conn.cursor()

with open("books.csv") as file:
    reader = csv.DictReader(file)
    for row in reader:
        cursor.execute("INSERT INTO books (title, author, year) VALUES (?, ?, ?)", (row["title"], row["author"], row["year"]))

conn.commit()
conn.close()

6. Select and print the title column from the book table in alphabetical order.

In [6]:
import sqlite3

conn = sqlite3.connect('books.db')
cursor = conn.cursor()

cursor.execute("SELECT title FROM books ORDER BY title ASC")

results = cursor.fetchall()

for title in results:
    print(title[0])

conn.close()

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

7. From the book table, select and print all columns in the order of publication.

In [7]:
import sqlite3

conn = sqlite3.connect('books.db')
cursor = conn.cursor()

query = 'SELECT title, author, year FROM books ORDER BY year'
cursor.execute(query)

results = cursor.fetchall()
for row in results:
    print(row)

conn.close()

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [8]:
from sqlalchemy import create_engine, Column, Integer, String
from sqlalchemy.orm import sessionmaker
from sqlalchemy.ext.declarative import declarative_base

Base = declarative_base()

engine = create_engine('sqlite:///books.db')
Base.metadata.create_all(engine)

Session = sessionmaker(bind=engine)
session = Session()
session.close()

9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

10. Increment the count field of test and print it.

In [9]:
#! pip3 install redis

In [10]:
import redis

# Connect to Redis
r = redis.Redis(host='localhost', port=6379, db=0)

# Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester')
r.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})

# Print all the fields for test
print(r.hgetall('test'))

# Increment the count field of test and print it
r.hincrby('test', 'count', 1)
print(r.hgetall('test'))

{b'count': b'1', b'name': b'Fester Bestertester'}
{b'count': b'2', b'name': b'Fester Bestertester'}

/var/folders/rq/2380dffn2dq8xqckp53jg5x80000gn/T/ipykernel_3196/4042587030.py:7: DeprecationWarning: Redis.hmset() is deprecated. Use Redis.hset() instead.
  r.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})